<div class="container-fluid">
    <div class="row align-items-center py-3 px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a class="text-decoration-none">
                <h1 class="m-0 display-5 font-weight-semi-bold text-white"><span class="font-weight-bold border px-3 mr-1 logo">E</span>Shop</h1>
            </a>
        </div>
        <div class="col-lg-4 col-4 text-left">
            <app-search-by-name></app-search-by-name>
        </div>
        <div class="col-lg-5 col-5 text-right d-inline">

            <app-cart-status></app-cart-status>
        </div>
    </div>

</div>
<!--NAVBAR-->
<app-navbar></app-navbar>



<!--MAIN CONTENT-->
<!--<app-product-list></app-product-list>-->
<router-outlet></router-outlet>